<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/style.css">   <!--Linking html with css */ -->
    <meta charset="UTF-8">
    <title>Japanese-Roadmap</title>
</head>

<body>
  <div>
    <div><p>LanguideHub</p></div>
    <div></div>
  </div>
  <!-- Main Banner -->
  <div class="Main-banner">
    <div id="main-text">
    <div>
    <h1>Learn Japanese <br> from Scratch</h1>
    <h4>A simple road map for absolut begainners. <br>Start your Japanese journey today!</h4>
    </div>
  <button type="button">Star Learning</button>
    </div>
    <img id="banner" src="../static/image/banner.png" alt="Banner">
  </div>
  <!-- Roadmap-title -->
  <div id="card-banner">
    <div id="roadmap">
    <h2>Your Roadmap</h2>
    </div>
    <!-- Card containers -->
     <div id="card-containers">
    <div  class="card"id="hiragana-card">
      <div class="step-1">1</div>
      <h3 class="hiragana-title">Hiragana</h3>
      <p class="hiragana-text">Learn the basic <br> Japanese wrting <br> system.</p>
    </div>
    <div class="arrow">⇛</div>
    <div class="card" id="katakana-card">
      <div class="step-2">2</div>
      <h3 class="katakana-title">Katakana</h3>
      <p class="katakana-text">Learn the second <br>Japanese writing <br> system.</p>
    </div>
     <div class="arrow">⇛</div>
    <div class="card" id="basic-kanji-card">
      <div class="step-3">3</div>
      <h3 class="kanji-title">Basic Kanji</h3>
      <p class="kanji-text">Start with the <br> most common <br> kanji.</p>
    </div>
     <div class="arrow">⇛</div>
    <div class="card" id="vocabulary-card">
      <div class="step-4">4</div>
      <h3 class="vocabulary-title">Vocabulary</h3>
      <p class="vocabulary-text">Learn useful <br> words for daily <br> life.</p>
    </div>
     <div class="arrow">⇛</div>
    <div class="card" id="grammar-card">
      <div class="step-5">5</div>
      <h3 class="grammar-title">Grammar</h3>
      <p class="grammar-text">Build your <br> grammar <br>foundation.</p>
    </div>
     <div class="arrow">⇛</div>
    <div class="card" id="practice-card">
      <div class="step-6">6</div>
      <h3 class="practice-title">Practice</h3>
      <p class="practice-text">Practice listening <br> speaking and <br> reading.</p>
    </div>
  </div>
  </div>
  <div>
    <!-- Recommended Resources -->
     <div id="recommended-resources">
    <h2>Recommended Resources</h2>
    </div>
    <!-- Resources -->
    <div id="resources">
    <div id="youtube-">
      <img id="rimage" src="../static/image/youtube.png" alt="youtube">
      <h3>YouTube Channls</h3>
      <p>Watch begainner friendly <br> Japanese lessons.</p>
      <button type="button">View</button>
    </div>
    <div id="websites-">
      <img id="rimage" src="../static/image/websites.png" alt="websites">
      <h3>Websites</h3>
      <p>Practise with useful <br> websites.</p>
      <button type="button">View</button>
    </div>
    <div id="apps-">
      <img id="rimage" src="../static/image/apps.png" alt="apps">
      <h3>Apps</h3>
      <p>Learn on the go with <br> mobile apps.</p>
      <button type="button">View</button>
    </div>
    <div id="books-">
      <img id="rimage" src="../static/image/books.png" alt="books">
      <h3>Books</h3>
      <p>Best books for <br> absolute beginners.</p>
      <button type="button">View</button>
    </div>
    </div>
  </div> 
  <!-- Tips -->
  <div>
    <h2 class="tips">Tips for Beginners.</h2>
    <div id="tips-banner">
      <ul class="tips-text">
        <li>Be consistent.</li>
        <li>Practice daily, even for 10 minutes.</li>
        <li>Don't worry about mistakes.</li>
        <li>Enjoy the process!</li>
      </ul>
      <img  id="tip-img" src="../static/image/tips.png" alt="tips">
    </div>
    </div>
    <div id="footer">
    
      <div>
        <h4>About LanguideHub</h4>
        <p>We help you learn languages <br> with simple roadmaps and <br> curared resources.</p>
      </div>
      <div>
        <h4> Quick Links</h4>
       <p>Home <br> languages <br>Roadmap <br>About</p>
      </div>
    
    <div>
      <h4>Follow Us</h4>
      <p>igm <br> img <br> img </p>
    </div>
  </div>
    <div style="text-align: center;">
      <h4>©2026 LanguideHub. All rights reserved.</h4>
    </div>
</body>

</html>