<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Languide-hub</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div id="log-in">  
        <div id="login-img">
            <img src="/static/image/login.png" alt="">
        </div>
        <div id="login-form">
            <form action="">
                <h4>Welcome Back</h4>
                <p>Login to continue</p>
                <input type="text">
                
            </form>
        </div>
    </div>
</body>
</html>